body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3vw;
}